html,
body * {
  padding: 0;
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}

html,
body {
  background-color: antiquewhite;
}
.App {
  display: flex;
}

.sidebar-container {
  width: 20%;
  background-color: #fff;
  padding: 10px;
  height: 100vh;
}

.chapters-container {
    padding: 10px;
}
.sidebar {

}

.sidebar-item {
    padding: 10px 0;
    cursor: pointer;
}